.footer
    width: 100%
    height: 15vh
    justify-content: center
    background: black

.title_footer
    color: white
    padding-top: 10px

.text_footer
    color: white
    padding-bottom: 10px

.imgfooter
    width: 15%
    display: flex
    cursor: pointer
    align-items: center
    border-right: 1px solid black
    word-wrap: break-word
    list-style-type: none
    color: #ffffff
    padding: 0px
    height: 30%;
    max-width: 90px
    //font-size: 16px    

.lifooter
    width: 100%
    display: flex
