.footer
    width: 100%
    height: 15vh
    justify-content: center
    background: black

.title_footer
    color: white
    padding-top: 10px

.text_footer
    color: white
    padding-bottom: 10px