.articleTarifas
  width: 28%
  margin-bottom: 45px
  cursor: pointer
  background: #fff
  border-radius: 10px
  transition: box-shadow 0.3s ease-in-out
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.37)
  &:hover
    box-shadow: 2px 3px 18px 2px rgba(0, 0, 0, 0.57)
   
.img-articleTarifas
  width: 84%

.title-articleTarifas
  font-size: 24px
  color: #00aaff

.text-articleTarifas
  font-size: 15px
  color: #000
