.tarifas
   width: 100%
   display: flex
   justify-content: space-around
   flex-wrap: wrap
   padding: 40px 15%
   box-sizing: border-box
   background: #00aaff

.titleTarifas
   font-size: 45px
   color: #fff
   width: 100%
   margin-bottom: 80px