.articleAsesorias
  width: 100%
  //box-shadow:  2px -1px 3px 1px ;
   
.img-articleAsesorias
  width:  30%
  margin: 10px 10px;
  box-shadow: 2px 3px 10px 3px #565061
  cursor: pointer

.title-articleAsesorias
  font-size: 70px
  color:#2b0a94
  margin-bottom: 20px;  
  margin-top: 20px;

.text-articleAsesorias
  font-size: 26px;
  color: #1d1c1c;
  margin-bottom: 36px