.articleTutoriales
  width: 40%
  display: flex
  justify-content: center
  align-items: center
  margin: 0px
  margin-bottom: 70px
  @media screen and (max-width: 640px)
    width: 100%

.img-text-container-articleTutoriales
  display: flex
  align-items: center
  padding: 0px
  width: 100%
  margin: 0%

.iframe-articleTutoriales
  width: 100%
  margin: 0px
  cursor: pointer
  display: flex
  padding: 0%

.title-articleTutoriales
  font-size: 45px
  width: 100%
  color: #fff
  margin: 0px
  @media screen and (max-width: 640px)
    font-size: 30px

.text-articleTutoriales
  width: 40%
  display: inline-block
  font-size: 30px
  color: #fff
  margin: 0px