.articleTutoriales
  width: 100%
  display: inline-block
  margin: 0px

.img-text-container-articleTutoriales
  display: inline-block
  //flex-wrap: wrap
  //justify-content: space-around
  align-items: center
  padding: 0px
  width: 100%
  
.iframe-articleTutoriales
  width: 50%
  margin: 0px
  cursor: pointer;
  display: flex

.title-articleTutoriales
  font-size: 45px
  width: 100%
  color: #fff
  margin: 0px

.text-articleTutoriales
  width: 40%
  display: inline-block
  font-size: 30px
  color: #fff
  margin: 0px