.articleSoftware
  width: 100%
  display: inline-block
   
.img-articleSoftware
  width: 30%
  margin: 10px 10px
  cursor: pointer

.title-articleSoftware
  font-size: 70px
  color: #25276f
  margin-bottom: 20px  
  margin-top: 20px

.text-articleSoftware
  font-size: 26px
  color: black
  margin-bottom: 36px