.articleSoftware
  width: 100%

.img-text-container-articleSoftware
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  padding: 60px 0
  width: 100%
  
.iframe-articleSoftware
  width: 43%
  margin: 10px 10px
  cursor: pointer

.title-articleSoftware
  font-size: 45px
  width: 100%
  color: #fff
  margin-bottom: 20px  
  margin-top: 20px

.text-articleSoftware
  width: 40%
  display: inline-block
  font-size: 30px
  color: #fff
  margin-bottom: 36px