.article
  width: 28%
  padding: 16px
  margin-bottom: 45px
  min-height: 470px
  cursor: pointer
  background: linear-gradient(to top, #ffffff 0%, #ffffff 100%)
  border-radius: 10px
  will-change: transform
  transition: box-shadow 0.4s ease-in-out
  transition: transform 0.5s ease-in-out
  transform: scale(1)
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.37)
  &:hover
    box-shadow: 1px 1px 18px 2px rgba(0, 0, 0, 0.57)
    transform: scale(1.018)
   
.img-article
  width: 68%
  height: 30%
  margin-bottom: 10%
  object-fit: contain

.title-article
  font-size: 24px
  color: #00aaff
  height: 15%

.text-article
  font-size: 15px
  height: 40%
  min-height: 40%
  color: #230309
  font-weight: 200
